@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --color-bio: #fefae0;
  --color-bio-contraste: #543515;
  --image-fruits: url('/assets/bg-fruits.jpg');
  --font-roboto: "Roboto", sans-serif;
}

.fully-style {
  @apply mx-[-56px] w-[calc(100%+112px)];
}

.border-bottom {
  @apply border-b-1 border-bio-contraste/15;
}